@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Akif Bilete HoşGeldiniz</h1>
    <p><a asp-action="Create" asp-controller="Bilet">Bilet İşlemleri İçin Tıklayın</a>.</p>
</div>
